[Desktop Entry]
Type=Application
Name=Material Screensaver Settings
Comment=Choose and configure your Material screensaver
Exec=material-screensaver-gui.py
Icon=material-screensaver
Terminal=false
Categories=Settings;GTK;
StartupNotify=true
