[Desktop Entry]
Type=Application
Name=Material Screensaver Settings
Comment=Choose and configure your Material screensaver
Exec=/home/sakib/.local/bin/material-screensaver-gui.py
Icon=/home/sakib/.local/share/icons/material-screensaver.png
Terminal=false
Categories=Settings;GTK;
StartupNotify=true
